.container-table-left {
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 80px;
    display: inline-block;

    .main-wrapper {
        width: 500px;
        // height:auto;
        min-height: 550px;
        max-height: 550px;
        // max-height:800px;
        overflow:auto;
        border: 1px solid black;

        .table-row {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
            -webkit-flex-direction: row;
            flex-wrap: no-wrap;
            -webkit-flex-wrap: no-wrap;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 10px;
            cursor: pointer;

            .wrapper {
                display: flex;
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
                flex-grow: 0;
                -webkit-flex-grow: 0;
            }
        }
    }

    .text-4,
    .text-2,
    .text-one,
    .text-two {
        flex-grow: 1;
        -webkit-flex-grow: 1;
    }

    .text-one {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
    }

    .text-one {
        width: 100px;
    }

    .text-two {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 20px;
        text-align: center;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    // .button-disabled {
    //     opacity: 0.65;
    //     cursor: not-allowed;
    // }

    button.arrow-button {
        margin: 1em auto;
        width: 140px;
        text-align: center;
        background-color: #eee;
        padding: 0.5em 0;
        display: block;
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.2s;
        box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.6);
        border-radius: 8px;
        cursor: pointer;
        outline: none;

        &:hover {
          color: #eee;
          background-color: #333;
        }
    }

    // .button-up-disabled {
    //     opacity: 0.65;
    //     cursor: not-allowed;
    // }

    .arrow-down {
        &::after {
          content: '\25bc';
          padding-left: 0.5em;
        }
    }

    .arrow-up {
        &::after {
          content: '\25b2';
          padding-left: 0.5em;
        }
    }

    .arrow-add {
        color: black;
        &:hover {
            color: #eee;
            background-color: #333;
          }
    }

    .content-container {
        float: left;
        height: 550px;
        width: 100%;
        background: #F5F5F5;
        overflow-y: scroll;

        .force-overflow {
            // min-height: 450px;

        }



    }

    .active-row-default {
        background: #536bef !important;
    }

    .active-row {
        background: #536bef !important;
    }

    #style-3::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    #style-3::-webkit-scrollbar-thumb {
        background-color: #000000;
    }

    .text-two {
        width: 270px;
    }

    .table-row:nth-child(2n) {
        background: #e2d9d9;
    }

    .num {
        width: 80px;
        text-align: right;
    }
      /*
       * Media queries: optimize for different screen widths.
       */
    @media all and (max-width: 1100px) {
        .text-2,
        .num-2 {
          flex-direction: column;
          -webkit-flex-direction: column;
        }

        .text-2 div,
        .num-2 div {
          flex-grow: 0;
          -webkit-flex-grow: 0;
          width: 100%;
        }

        .text-2 {
          width: 180px;
        }

        .num-2 {
          width: 80px;
        }
    }

    @media all and (max-width: 580px) {
        .text-4,
        .num-4 {
          flex-direction: column;
          -webkit-flex-direction: column;
        }

        .text-4 div,
        .num-4 div {
          flex-grow: 0;
          -webkit-flex-grow: 0;
          width: 100%;
        }

        .text-4 {
          width: 180px;
        }

        .num-4 {
          width: 80px;
        }
    }

    @media all and (max-width: 320px) {
        .table-row {
          flex-direction: column;
          -webkit-flex-direction: column;
        }

        .table-row div {
          flex-grow: 0;
          -webkit-flex-grow: 0;
          width: 100%;
        }

        .num {
          text-align: left;
        }
    }

    .table-row {
        // border-bottom: 2px solid #e0e0e0;
        border-collapse: collapse;
        padding-top: 10px;
    }

    .table-row.header {
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid black;
    }

}
